
*
{
    
    margin:0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
   
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
}

.form {
    padding: 20px 30px;
    background-color: #f4f4f4;
    border-radius: 5px;
    border-radius: 20px;
    background-color: black;
    box-shadow: 0 0 50px #0cc0df;
    padding: 40px;
    overflow: hidden;

}

.form .container {
    max-width: 100%;
}

.form .container form {
    display: flex;
    flex-direction: column;
    
    
}

.form .container form input {
    margin: 10px 20px;
    padding: 10px 10px;
    width: 300px;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    background: none;
    color:rgb(255, 255, 255);
    resize: none;
}

.form .container form .buttons {
    display: flex;
    justify-content: space-between; /* Align buttons at the ends */
    margin-top: 20px; /* Add margin to separate from input fields */
}

.form .container form button {
    width: 100px;
    padding: 10px 0px;
    cursor: pointer;
    border: none;
    outline: none;
    background: #0cc0df;
    border-radius: 20px;
}

